/*not deleting this file and folder, in case I want to revisit this app and play with it later. */

.whiteText {
  color: white;
  padding-bottom: 30px;
  padding-top: 10px;
}

.background {
  background-color: #15568f;
}
