.spaced-col {
  padding: 0px 10px;
}

.cardSpacing {
  margin: auto;
  max-width: 300px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.title {
  font-family: 'Ovo', serif;
  letter-spacing: 2px;
  font-size: 30px;
}

.aligner {
  position: relative;
}

.alignBottom {
  position: absolute;
  bottom: 0;
  left: 25%;
  right: 25%;
}

p {
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.highTemp {
  color: #E20018;
  font-weight: bold;
}

.lowTemp {
  color: #4393b9;
  font-weight: bold;
}
